@import "style.scss";

.gallery_title {
  pointer-events: none;
  user-select: none;

	h1 {
		color: var(--Accent01);
		text-align: center;
		font-family: var(--Italiana);
		font-size: 8rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
