*,
*::before,
*::after {
	box-sizing: content-box;
}

* {
	margin: 0;
	padding: 0;
}

:root {
  --Main : #E9E9E9;
  --Accent01: #1A1A1A;

  --Italiana: "Italiana", san-serif;
  --Judson: "Judson", serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 500px;

  background-color: var(--Main);

  margin-inline: 12rem;

  .title,
  .welcome {
    pointer-events: none;
    user-select: none;
  }

  .title {
    padding-right: 195px;
  }

  .welcome {
    align-self: center;
  }
}
