@import 'style.scss';

.Title_section {
  display: flex;
  flex-direction: column;
  height: 100%;

  margin-top: 20rem;
	h1 {
		color: var(--Accent01);
		font-family: var(--Italiana);
		font-size: 10rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		width: 1000px;
	}
	h4 {
		color: var(--Accent01);
		font-family: var(--Judson);
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

    margin-top: -2rem;
	}
}
