@import "style.scss";

.welcome {
	margin-bottom: 800px;

	display: flex;
	flex-direction: row;

  align-items: center;

	.profile {
		display: grid;
		grid-template-columns: 1;

		img,
		svg {
			grid-area: 1/1;
			pointer-events: none;
			user-select: none;

      width: 80%;
		}

		img {
			border-radius: 384.5px;
			background: url(<path-to-image>) lightgray 50% / cover no-repeat;

			translate: 30px 120px;
		}
	}

	.label {
    margin-top: 200px;

		h1 {
			color: var(--Accent01);
			font-family: var(--Italiana);
			font-size: 8rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}

		p {
			color: var(--Accent01);
			font-family: var(--Judson);
			font-size: 1.7rem;
			font-style: normal;
			font-weight: 400;
			line-height: 137%; /* 38.36px */

			width: 789px;
		}
	}
}
